/*reset*/
body,ul,ol,li,p,h1,h2,h3,form,fieldset,table,td,img,div,dl,dt,dd,input {
  margin: 0; padding: 0; border: 0;
}
body { font-size: 12px; font-family: "微软雅黑",Tahoma,Arial,sans-serif }
em{ font-style: normal; }
img { border: none; }
ul,ol { list-style: none; }
input,select,textarea { outline: none; }
textarea { resize:none; }
a,a:hover { text-decoration: none; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
.fl { float: left; }
.fr { float: right; }

body{
	background-color: salmon;
}

.seat-warp{
	width: 500px;
	height: 500px;
	background-color: #399;
	font-family: "微软雅黑";
	font-size: 10px;
	text-align: center;
	margin: 0 auto;
	font-size: 33px;
	color: #fff;
}

.seat-warp ul li{
	width: 100px;
	height: 50px;
	line-height: 50px;
	cursor: pointer;
	margin: 4px 12px;
}

.seat-warp ul li.remove{
	background-color: #ccc;
}

.seat-warp ul li.add{
	background-color: #f63;
}

.already{
	width: 500px;
	height: 100px;
	border: 1px solid #000;
	margin: 100px auto;
	color: #000;
}

.already span{
	display: inline-block;
	margin: 0 10px;
	background-color: yellow;
	width: 70px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 20px;
	cursor: pointer;
}
